@mixin accordion-panel {
	.panel {
		border-bottom: 1px solid var(--clr-bdr);
		padding: 0 1em;
		position: relative;
		// margin: 1em 0;
		width: 100%;
		overflow: hidden;
		@media (max-width: 42em) {
			padding: 0;
		}
		@media print { 
			page-break-before: always;
		}
		&:first-child { border-top: 1px solid var(--clr-bdr); }
		&:last-child {
			margin-bottom: 3em;
		}
		input.for-panel {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}
		label.item-id {
			color: var(--clr-pisa-05);
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			line-height: 1.4;
			padding: 1em 0 1em 3em;
			position: relative;
			text-align: left; // for ie
			@media print { padding: 0; }
			&:hover {
				transition: opacity .25s ease-in-out;
			}
			&::before {
				color: var(--clr-pisa-05);
				position: absolute;
				left: 0;
				top: 0.9em;
				display: block;
				line-height: 0.5em;
				transition: all 0.25s ease-in-out;
				@media print { display: none; }
			}
		}
		.panel-content {
			max-height: 0;
			padding: 0em;
			transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
			overflow: hidden;
			@media print {
				border-top: none;
				max-height: 500em;
			}
			p {
				margin: 0;
				&.fine-print {
					margin: 0.5em 0 2em 0;
				}
				+ p {
					margin-top: 1em;
				}
			}
			ul {
				margin: 1em 0;
				padding: 0 2em;
				list-style-type: square;
				li {
					padding-bottom: 0.5em;
					&:last-child {
						padding-bottom: 0;
					}
				}
				
			}
			.source-data {
				font-size: 0.8em;
			 	font-weight: 400;
			 	margin-bottom: 2em;
			 	padding: 0;
			 	li { 
			 		list-style-type: none; 
			 	}
			}
			figure:first-child { padding-top: 0; }
		}
		/* :checked */
		input:checked ~ .panel-content {
			max-height: 500em;
			transition: max-height 1s ease-in-out;
			@media print { border-bottom: none; }
		}
		input[type=checkbox] + label.item-id::before {
			background: var(--clr-neutral);
			font-family: "Font Awesome 5 Free";
			font-size: 1.5em;
			content: "\f055";
		}
		input[type=checkbox]:checked + label.item-id::before {
			font-family: "Font Awesome 5 Free";
			content: "\f056";
			color: var(--clr-pisa-05);
			transform: rotate(180deg);
		}
		input + label.item-id {
			transition: all 0.3s ease-in-out;
		}
	}
}